/* colors are as follows
color: #443545;
color: #3E7079;
color: #008F81;
color: #CFCFCF;
color: #5297b3;
color: #95d8f3; 
color: #f8f8f8;
color: #39315f;

*/
/* resetting headers with less margin/padding so i can set them up manually to my liking */
h1, h2, h3, h4 {
  margin:0;
  padding:0;
  }

body{
  text-align: center;
  background-image: url(https://i.imgur.com/0OSMWEH.png);
  /* background-color: #CBCBCD; */
  font-family: 'Montserrat', sans-serif;
}

.header{
  height: 170px;
  background-image: url(https://i.imgur.com/w6mKXrd.png)
}


/* control hamburger icon */
.burger{
  margin: 10px;
  font-size: 30px;
  position: absolute;
  top:35px;
  right: 0;
  color: #fff;
  }

/* Take Care -- A Self Care Journal */
.take-care{
 padding: 1px;
 /* position: absolute; */
 text-align: center;
 /* bottom: 0; */
 font-size: 23px;
 /* font-weight: bold; */
 font-family: 'Nothing You Could Do', cursive; 
 color: #f8f8f8;

}

.take-care > h1 p {
  display: inline;
  margin: 0px 5px 15px 0px;
 
}

/* handles overlay after hamburger menu is clicked */
.overlay{
  /* display: none; */
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%x;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.685);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* handles navlink items on overlay */
.menu-item{
  display: block;
  margin: 50px;
  color: #CBCBCD;
  position: relative;
  z-index: 2;
}
.menu-item:hover {
  color: #008F81;
  text-decoration: none;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


  /* welcome images */
.logos{
  display: inline block;
  height: 300px
}

/* div that encloses the fetched affirmations */
.div-affirm{
  padding:1% 5%;
  /* border: 2px solid grey; */
  border-radius: 7px;
}


/* controls journal entries and activities containers */
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.journal-entries {
  margin-top: 25px;
} 

.journal-entries h1 {
  margin: 0.5em;
} 


.activities{
  margin: 1.7em;
}

.card{
  height: 300px;
  width: 390px;
  padding: 1.2em;
  margin: 1.7em;
  margin-top: 2em;
  line-height: 1.7em;
  border: 1px solid grey;
  border-radius: 6px;
  overflow: scroll;
  box-shadow: 5px 10px #39315f;
  background-color: #5297b3;
  text-align:center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card h3{
  font-size: 18px;
  line-height: 1.6em;
  margin-top: 0;
}

.card h4{
  font-size: 14px;
  line-height: 1.8em;
}

.card p{
line-height: 1.7em;
}

.modal-container {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%x;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.685);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.modal-content {
  width: 500px;
  height: 600px;
  margin: 0 auto;
  position: relative;
  background-color: #5297b3;
  z-index: 2;
  padding: 100px 50px;
  
}

/* user profile */

.profile{
  margin-top: 45px;
  background-color: #3E7079;
}


.profile h3 {
  font-family: 'Nothing You Could Do', cursive; 
  line-height: 1em;
  margin-top: 15px;
  padding: 0.2em;
}

/* journal entry comments */
.card-contents p {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 18px;
}

/* activity card */
.activity { 
  margin-top: 45px;
  background-color: #95d8f3; 
  height: 330px;
}




/* handles login and sign up form and journal entry form */
.form {
  border: 1px solid grey;
  height: auto;
  width: 530px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  border-radius: 7px;
  text-align: left

}

.checkboxlabel {
  width: 260px;
}

.longer-label {
  width: 300px;
}

.form > h4 {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 18px;
  margin: 0em 0em 1.5em 0em;
  
}

.filter label {
  width: 215px;
}

.filter input {
  margin: 15px;
}



label {
  width: 160px;
  display: inline-block;
  text-align: left;
}

textarea {
  width: 60%;
  height: 60px;
  padding: 12px 20px;
  margin: 0px;
  border-radius: 4px;
  background-color: #f8f8f8;
  border: 1px solid #5297b3;
}


input[type=text], [type=email], [type=password], [type=select], [type=number]{
  font-size: 14px;
  width: 240px;
  padding: 12px;
  border: 1px solid #5297b3;
  background-color: #f8f8f8;
  -webkit-transition: 0.5s;
  transition: 7.0s;
}

input[type=text]:focus {
  border: 2px solid #443545;
}

[type="date"] {
  background:#f8f8f8 url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}


/* div that contains text area in new journal form */
textarea {
  vertical-align: middle;
  font-size: 14px;
  padding: 6px;
}

textarea::-webkit-input-placeholder {
  color: #CFCFCF
}
textarea:focus::-webkit-input-placeholder {
  color: #3E7079;
}

/* Firefox < 19 */
textarea:-moz-placeholder {
  color: #CFCFCF
}
textarea:focus:-moz-placeholder {
  color: #3E7079;
}
/* Firefox > 19 */
textarea::-moz-placeholder {
  color: #CFCFCF
}
textarea:focus::-moz-placeholder {
  color: #3E7079;
}

/* Internet Explorer 10 */
textarea:-ms-input-placeholder {
  color: #CFCFCF
}
textarea:focus:-ms-input-placeholder {
  color: #3E7079;
}


input::-webkit-input-placeholder {
  color: #CFCFCF
}
input:focus::-webkit-input-placeholder {
  color: #3E7079;
}


/* Firefox < 19 */
input:-moz-placeholder {
  color: #CFCFCF
}
input:focus:-moz-placeholder {
  color: #3E7079;
}
/* Firefox > 19 */
input::-moz-placeholder {
  color: #CFCFCF
}
input:focus::-moz-placeholder {
  color: #3E7079;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
  color: #CFCFCF
}
input:focus:-ms-input-placeholder {
  color: #3E7079;
}

/* handles log in sign up */
.welcome-button {
  background-color: #443545;
  border: 2px solid #3E7079;
  color: #f8f8f8;
  padding: 5px 5px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

/* button handles affirmations and user profile */
.other-button {
  background-color: #443545;
  border: 2px solid grey;
  color: #f8f8f8;
  padding: 5px 5px;
  margin: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
}

.profile-button{
margin-top: 65px;
}

/* button handles forms and journal cards */
.act-button {
  background-color: #3E7079;
  border: 1px solid #443545;
  color: #EAEAEB;
  padding: 5px 5px;
  margin: 0.75em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;  
  margin-top: 30px;
}

.update button {
  margin: 1em 0 0 0;
}

.update button:last-child{
  margin-left: 250px;
}


.two-buttons{
  display: inline-block;
  position: sticky;
}

/* unvisited link */
a:link {
  color: #3E7079;
  text-decoration: none;
}

p > a {
  font-weight: bold;
}

/* visited link */
a:visited {
  color: #443545;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #443545;
  text-decoration: none
}

